[Unit]
Description=earthzetaorg Daemon
After=network.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
# NOTE: %h will be resolved to /home/<username>
WorkingDirectory=%h/earthzetaorg
ExecStart=/usr/bin/earthzetaorg
Restart=on-failure

[Install]
WantedBy=default.target

